<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="imgwrap">
        <img src="http://placekitten.com/g/300/200" alt="">
      </div>
    </div>
    <div class="col-sm-8">
        <p>
          I'm an award-seeking journalist currently teaching computational journalism at Stanford University. I have been published in more than 10,000 tweets, and have mentioned such Twitter accounts as The New York Times and Ashton Kutcher.
        </p>
        <p>Read <a href="/about/">more about me</a>.</p>


        <div class="more-info-links">
           {% include widgets/more-info-links.html %}
        </div>

        <ul class="social_icons list-unstyled list-inline">
          {% include widgets/social_icons.html %}
        </ul>
    </div>
  </div>
</div>
