<footer class="site-footer">
  <div class="container">


  <div style="margin: 1.0em 0;">
    <strong>View raw:</strong> {% include widgets/github_source_url.html %}
  </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="imgwrap">
          <img src="http://placekitten.com/g/300/200">
        </div>
      </div>
      <div class="col-sm-9">
        <h6>Hi I'm Dan Nguyen</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam cupiditate ut quaerat aliquid, nihil soluta minima facilis deserunt id assumenda temporibus deleniti delectus in cumque velit dignissimos modi voluptatum. Reprehenderit.</p>

        <div class="more-info-links">
          {% include widgets/more-info-links.html %}
        </div>
        <ul class="social_icons list-unstyled list-inline">
          {% include widgets/social_icons.html show_labels = true%}
        </ul>
      </div>
    </div>



  </div>
</footer>
