
  {% if site.twitter_id %}
  <li class="">
    <a target="_blank" class="fa fa-twitter" href="https://twitter.com/{{site.twitter_id}}">
      {% if include.show_labels == true %}Twitter{% endif %}
    </a>
  </li>
  {% endif %}

  {% if site.github_id %}
  <li class="">
    <a target="_blank" class="fa fa-github" href="https://github.com/{{site.github_id}}">
      {% if include.show_labels == true %}Facebook{% endif %}
    </a>
  </li>
  {% endif %}


  {% if site.instagram_id %}
  <li class="">
    <a target="_blank" class="fa fa-instagram" href="https://instagram.com/{{site.instagram_id}}">
      {% if include.show_labels == true %}Instagram{% endif %}
    </a>
  </li>
  {% endif %}

  {% if site.linkedin_id %}
  <li class="">
    <a target="_blank" class="fa fa-linkedin" href="https://linkedin.com/pub/{{site.linkedin_id}}">
      {% if include.show_labels == true %}LinkedIn{% endif %}
    </a>
  </li>
  {% endif %}

  {% if site.flickr_id %}
  <li class="">
    <a target="_blank" class="fa fa-flickr" href="https://www.flickr.com/photos/{{site.flickr_id}}">
      {% if include.show_labels == true %}Flickr{% endif %}
    </a>
  </li>
  {% endif %}


  {% if site.youtube_id %}
  <li class="">
    <a target="_blank" class="fa fa-youtube" href="https://www.youtube.com/user/{{site.youtube_id}}">
      {% if include.show_labels == true %}YouTube{% endif %}
    </a>
  </li>
  {% endif %}

  {% if site.tumblr_id %}
  <li class="">
    <a target="_blank" class="fa fa-tumblr" href="http://{{site.tumblr_id}}.tumblr.com">
      {% if include.show_labels == true %}Tumblr{% endif %}
    </a>
  </li>
  {% endif %}
